@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent-main: #3680fa;
	--accent-main-hover: #005aec;
	--accent-button: #fff;
	--basic-light-white: #fff;
	--basic-light-lighgrey: #f9f9f9;
	--basic-light-darkgrey: #8f8f8f;
	--basic-light-black: #0d0d0d;
	--basic-dark-black: #0d0d0d;
	--basic-dark-lightblack: #151515;
	--basic-dark-grey: #c8c8c8;
	--basic-dark-white: #fff;
	--status-succes: #46c258;
	--status-error: #f43834;
}

body {
	background: #f9f9f9;
}

aside {
	width: 290px;
}

.invisible {
	opacity: 0.2;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader {
	border: 8px solid #f3f3f3;
	border-top: 8px solid #3498db;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}
